@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

$font: 'Lato', sans-serif;
$big: 'Montserrat', sans-serif;

$red: #DC9542;
$white: #F6F4F3;
$blue: #276FBF;
$dark: #27396A;
$yellow: #DC9542;

  
html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background: $dark;
}

.main-title{
  font-family: $font;
  text-align: center;
  font-size: 14vmin;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $yellow;
}


.outer-container {
  overflow: hidden;
  display: block;
  align-items: center;
  justify-content: center;
}


.container {
  padding-left: clamp(5%, 5vmin, 15%);
  padding-right: clamp(5%, 5vmin, 15%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .container {
    padding-left: clamp(5%, 5vmin, 15%);
    padding-right: clamp(5%, 5vmin, 15%);
  }
}

@media only screen and (min-width: 501px) {
  .container {
    padding-left: clamp(15%, 15vmin, 15%);
    padding-right: clamp(15%, 15vmin, 15%);
  }
}

.main-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .main-image {
    width: 100%;
  }
}

@media only screen and (min-width: 501px) {
  .main-image {
    width: 35%;
  }
}

.main-image img{
  width: 100%;
}

h1 {
  font-family: $font;
  text-align: center;
  margin-top: 2em;
  font-size: 5vmin;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $white;
}

.sparc{
  color: #f84c4c;
}

.secondary{
  width: calc(75% - 40px);
  font-family: $font;
  text-align: center;
  font-size: 3vmin;
  letter-spacing: 5px;
  color: $white;
  margin: 0 auto;
}

#timer {
  margin-bottom: 0;
  width: clamp(120px, 90vw, 2000px);
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-family: $font;
  font-size: .7em;
  letter-spacing: 5px;
  margin-top: 3%;
  display: block;
  justify-content: center;
  align-items: center;
}


.days, .hours, .minutes, .seconds {
  display: inline-block;
  padding: 20px;
  margin-left: 2min;
  margin-top: 2vmin;
  width: clamp(25px, 25vw, 120px);
  border-radius: 5px;
}

.primary{
  font-family: $big;
  width: calc(100% - 40px);
  margin: 0 auto;
  text-align: center;
}

.days {
  background: $red;
}

.hours {
  background: $white;
  color: $dark;
}

.minutes {
  background: $blue;
}

.seconds {
  background: $yellow;
}

.numbers {
  font-family: $big;
  color: $dark;
  font-size: 4em;
}



